/*###############  >Reset das margens e estilos de listas<  ###############*/
*{ 
    margin: 0;
    padding: 0;
    font-family: 'Open Sans' sans-serif;
    color: #fff;    
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li a{
    text-decoration: none;
}
.flex-container{/*flexbox vai colocar os itens dentro da div em orientação horizontal*/
    display: flex;   
}

/*Fim do reset*/

/*###############  >Topo da página<  ###############*/
header{
    margin-top: 20px;
    margin-bottom: 20px;
}
.menu{
    max-width: 90vmax;/*no maximo 90% da tela*/
    margin: auto;
    width: 100%;
    height: auto;
    padding: 0px 10px;
    justify-content: space-around;/*flexbox*/
    align-items: center;/*flexbox - alinha verticalmente*/
}
/*Redes sociais*/
.list-items img{
    max-width: 20px;
    margin: 0px 10px;
}
.list-items li a{
    color: #fff;das letras no menu
}
/*Menu suspenso*/
.dropdown{
    position: relative;
    display: inline-block;
}
.mainmenubtn{
    max-width: 30px;
    cursor: pointer;
    border: none;
}
.drop-child{
    display: none;/*Some com a lista*/
    max-width: 100px;
}
.drop-child a{
    text-decoration: none;
}
.drop-child a:hover{
    border-radius: 2vh;
    padding: 0px 15px;
    background-color: skyblue;
    color: black;
}
.dropdown:hover .drop-child{/*Faz reaparecer a lista*/
    display: block;
}/*Fim do menu suspenso*/


/*Ajuste na lista do menu no lado direito*/
header .list-items{
    display: flex;
    align-items: center;
    justify-content: center;
}

/*###############  >Corpo da página<  ###############*/
body{/*Fundo degrade*/
    background-image: linear-gradient(black, gray);
}
.main{
    margin: 3% 5%;
    border-radius: 20px;
    background-image: radial-gradient(rgb(27, 26, 26), rgba(0, 0, 0, 0.698));
}
.main h2{
    color: gray;
}
.presentation{
    justify-content: space-around;
}
.pres-box{
    display: flex;
    max-width: 40%;
    margin: 100px 0px;
    align-items: center;
}
.presentation p::before{
    content: "";
    color: skyblue;
    height: 100%;
    margin-right: 5px;
    border: 2px solid;
}
.academic{
    text-align: center;
}
.courses{
    justify-content: space-around;
}
.course{
    margin: 20px 0px;
    width: 30%;
}
.course h4{
    margin-bottom: 5px;
}
.course p{
    margin-bottom: 2px;
}
.course img{
    max-height: 70px;
    padding: 10px 0px;
}
.course h4::before{
    content: "";
    color: skyblue;
    margin-right: 5px;
    border: 2px solid;
}
.skills{
    margin-top: 100px;
    text-align: center;
}
.carousel{
    margin: 50px 0px;
}
.item{
    display: flex;
    margin-top: 15px;
    text-align: left;
    align-items: center;
    justify-content: space-around;
    max-height: 100%;
}
.content-img{
    width: 50px;    
}
.level{
    margin-top: 5px;
    display: flex;
}
.level img{
    max-width: 15px;
    max-height: 15px;
}
.soft-skills{
    justify-content: space-around;
    align-items: center;
    margin: 50px 0px;
}
.soft-skills img{
    max-width: 50px;
}
.language{
    min-width: 100%;
    align-items: center;
    text-align: center;
}
.list{
    text-align: left;
    margin: 20px 0px;
}
.list h4{
    margin-bottom: 10px;
}
.skill-item{
    align-items: center;
    justify-content: space-around;
}
.skill-item img{
    margin: 0px 10px;
}
.experience{
    margin-top: 100px;
    text-align: center;
}
.xp{
    justify-content: space-around;
    margin: 50px 0px;
}
.xp img{
    max-height: 10vh;
    max-width: 20vh;
    margin-right: 10px;
}
.xp a{
    cursor: pointer;
    text-decoration: none;
}
.xp div{
    margin-bottom: 20px;
}